.container-login {
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  height: 100vh;
  background-image: url("https://assets.entrepreneur.com/content/3x2/2000/1601668159-Depositphotos-57033799-l-2015.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  overflow-x: hidden;
  background-size: cover;
}

.wrapper-form-login {
  box-sizing: border-box;
  width: 30%;
  height: 400px;
  margin: auto 0;
  padding-bottom: 40px;
  padding-top: 40px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F7F8FC;
}

.wrapper-form-login form {
  width: 60%;
}

.wrapper-form-login form label {
  margin-left: 10px;
  font-weight: 600;
}

.wrapper-form-login img {
  padding-bottom: 25px;
}

.button-login {
  margin-top: 10px;
  width: 100%;
  margin-left: 34%;
}