html {
  height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background-color: #F7F8FC;
  font-family: 'Lato', sans-serif;
}

#root {
  min-height: 100%;
}

.container {
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-content {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.wrapper-form {
  box-sizing: border-box;
  width: 75%;
  height: 600px;
  margin: 80px auto 0;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.2);
  padding-bottom: 40px;
  padding-top: 40px;
  border-radius: 3px;
}

.wrapper-form form {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;  
  margin: 0 auto;
  height: 100%;
}

.wrapper-form form label {
  margin-left: 10px;
  font-weight: 600;
}

